.button__container {

    &-btn {
        width: $button-width;
        height: $button-height;
        color: $button-color;
        border: none;
        border-radius: $border-radius;
        cursor: pointer;

        &--add {
            background-color: $button-add-color;
        }

        &--subtract {
            background-color: $button-subtract-color;
        }

        &--cancel {
            background-color: $dark-gray-color;
        }

        &--modal {
            width: calc($button-width / 2);
            height: calc($button-height * 1.2);
            margin: 0 0.5rem;
        }
    }
}