.input__container {

    margin: 1rem 0;

    &-input {
        width: $input-width;
        height: $input-height;
        padding: 0 2rem;

        &--search {
            width: calc($input-width * 2.5);
        }

        &--modalfile {
            width: calc($modal-width - 4rem);
            border: 1px solid $black-color;
            @include center;
            padding: 0.8rem;
        }
        
        &--modal {
            width: calc($modal-width - 4rem);
            border: 1px solid $black-color;
            @include center;
        }

    }
}